<div nz-row class="tableStaff">
    <div nz-col nzSpan="12">
        <h1 class="text">Alimento</h1>
    </div>
    <div nz-col nzSpan="12">
        <button nz-button [disabled]="false" [nzType]="'primary'" class="btnpersonal" (click)="showFormCreateAlimento()">
          <i nz-icon type="plus"></i>
          Crear Alimento
      </button>
    </div>
    <nz-divider [nzType]="vertical"></nz-divider>
</div>
<nz-table #smallTable nzSize="small" [nzData]="resData" class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Costo Alimento</th>
            <th>Tipo Alimento</th>
            <th>Unidad de Medida</th>
            <!-- <th>Estado</th> -->
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of smallTable.data">
            <td>{{ data.nombre}}</td>
            <td>{{ data.costoAlimento}}</td>
            <td>{{ data.idTipoAlimento.nombreTipoAlimento}}</td>
            <td>{{ data.idUnidadMedida.nombre }}</td>
            <!-- <td>{{ data.estado == 1 ? "Habilitado" : "Inhabilitado" }}</td> -->
            <td>
                <a>
                    <i nz-icon type="edit" (click)="editAlimento(data)"></i>
                </a>
                <nz-divider nzType="vertical"></nz-divider>

                <a>
                    <i nz-icon type="delete" (click)="eliminarAlimento(data.idprecioAlimento)"></i>
                </a>
            </td>
        </tr>
    </tbody>
</nz-table>



<nz-modal nzFooter=" " nzTitle="Crear Alimento" [(nzVisible)]="isModalVisible" (nzOnCancel)="handleCancelTop()">
    <app-create-alimento (isResult)="handleCancelTop()">
    </app-create-alimento>
</nz-modal>