<div nz-row class="tableStaff">
    <div nz-col nzSpan="12">
        <h1 class="text">Vacuna</h1>
    </div>
    <div nz-col nzSpan="12">
        <button nz-button [disabled]="false" [nzType]="'primary'" class="btnpersonal" (click)="showFormCreateVacuna()">
          <i nz-icon type="plus"></i>
          Crear Vacuna
      </button>
    </div>
    <nz-divider [nzType]="vertical"></nz-divider>
</div>
<nz-table #smallTable nzSize="small" [nzData]="resData" class="table">
    <thead>
        <tr>
            <th>Código Producto</th>
            <th>Nombre Producto</th>
            <th>Marca Producto</th>
            <th>Unidad de medida</th>
            <th>Fecha de Vencimiento</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of smallTable.data">
                <td>{{data.codProducto}}</td>
                <td>{{data.nombreProducto}}</td>
                <td>{{data.marcaProducto}}</td>
                <td>{{data.unidadMedida}}</td>
                <td>{{data.fechaVencimiento}}</td>
            <td>
                <a>
                    <i nz-icon type="edit" (click)="editVacuna(data)"></i>
                </a>
                <nz-divider nzType="vertical"></nz-divider>

                <a>
                    <i nz-icon type="delete" (click)="eliminarVacuna(data.idDrogaVacuna)"></i>
                </a>
            </td>
        </tr>
    </tbody>
</nz-table>