

.table {
    padding-left: 45px;
    padding-right: 45px;
}

.btnpersonal {
    margin-top: 13px;
    text-align: center;
    margin-left: 65%;
    margin: 10px;
}

.text {
    margin-left: 45px;
}

.tableStaff {
    margin-top: 20px;
    /*margin-left: 45px;
  margin-right: 45px;
  margin-top: 20px;
  margin-bottom: 20px;*/
}
