<form class="formstaff" nz-form [nzLayout]="'inline'" #staffForm="ngForm" (ngSubmit)="updateStaff(staffForm.value)">
  <!--(createStaff)="eventSaveForm(staffForm)"-->
  <div class="form-fields" fxLayout="row wrap" fxLayoutGap="40%" fxLayoutAlign="start center">
    <nz-form-item fxLayout="column" fxLayoutAlign="start start" fxFlex="48%" fxFlex.lt-sm="45">
      <nz-form-label for="idTipoDocumento" class="ant-form-item-required letter-label-style">Tipo Documento
      </nz-form-label>
      <br>
      <nz-form-control>
        <nz-select [(ngModel)]="staff.idTipoDocumento" class="formDrop" style="width: 400px;"
          nzPlaceHolder="Seleccion tipo documento" #idTipoDocumento name="idTipoDocumento" [nzSize]="size">
          <nz-option *ngFor="let document of resDocumentType" [nzLabel]="document.nombreTipoDocumento"
            [nzValue]="document.idTipoDocumento"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item fxLayout="column" fxLayoutAlign="start start" fxFlex="48%" fxFlex.lt-sm="45">
      <nz-form-label for="documento" class="ant-form-item-required letter-label-style">Documento</nz-form-label>
      <br>
      <nz-form-control>
        <nz-tooltip nzTrigger="focus" nzPlacement="topLeft" nzOverlayClassName="numeric-input" [nzTitle]="title">
          <input class="inputDocument" disabled pattern="[0-9]*" [(ngModel)]="staff.documento"
            (ngModelChange)="onChangeDocumento($event)" (blur)="onBlurDocumento()" nz-tooltip #documento
            name="documento" nz-input placeholder="Ingrese número documento" digitOnly required
            style="width: 400px; border: 1px solid #d9d9d9 !important;" />
        </nz-tooltip>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item fxLayout="column" fxLayoutAlign="start start" fxFlex="48%" fxFlex.lt-sm="45">
      <nz-form-label for="primerNombre" class="ant-form-item-required letter-label-style">Primer nombre</nz-form-label>
      <br>
      <nz-form-control>
        <input class="inputForm" [(ngModel)]="staff.primerNombre" #primerNombre name="primerNombre" nz-input
          placeholder="Ingrese el primer nombre" required style="width: 400px; border: 1px solid #d9d9d9 !important" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item fxLayout="column" fxLayoutAlign="start start" fxFlex="48%" fxFlex.lt-sm="45">
      <nz-form-label for="segundoNombre">Segundo nombre</nz-form-label>
      <br>
      <nz-form-control>
        <input class="inputForm" [(ngModel)]="staff.segundoNombre" #segundoNombre name="segundoNombre" nz-input
          placeholder="Ingrese segundo nombre" style="width: 400px; border: 1px solid #d9d9d9 !important" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item fxLayout="column" fxLayoutAlign="start start" fxFlex="48%" fxFlex.lt-sm="45">
      <nz-form-label for="primerApellido" class="ant-form-item-required letter-label-style">Primer apellido
      </nz-form-label>
      <br>
      <nz-form-control>
        <input class="inputForm" [(ngModel)]="staff.primerApellido" #primerApellido name="primerApellido" nz-input
          placeholder="Ingrese el primer apellido" required
          style="width: 400px; border: 1px solid #d9d9d9 !important" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item fxLayout="column" fxLayoutAlign="start start" fxFlex="48%" fxFlex.lt-sm="45">
      <nz-form-label for="segundoApellido">Segundo apellido</nz-form-label>
      <br>
      <nz-form-control>
        <input class="inputForm" [(ngModel)]="staff.segundoApellido" #segundoApellido name="segundoApellido" nz-input
          placeholder="Ingrese segundo apellido" style="width: 400px; border: 1px solid #d9d9d9 !important" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item fxLayout="column" fxLayoutAlign="start start" fxFlex="48%" fxFlex.lt-sm="45">
      <nz-form-label for="idMDepartamento" class="ant-form-item-required letter-label-style">Departamento
      </nz-form-label>
      <br>
      <nz-form-control>
        <nz-select (ngModelChange)="locationChange($event)" nzPlaceHolder="Seleccione Departamento"
          [(ngModel)]="staff.idDepartamento" class="formDepar" style="width: 400px;" #idMDepartamento
          name="idMDepartamento" [nzSize]="size">
          <nz-option *ngFor="let municipy of resDepartament" [nzLabel]="municipy.departamento"
            [nzValue]="municipy.idDepartamento"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item fxLayout="column" fxLayoutAlign="start start" fxFlex="48%" fxFlex.lt-sm="45">
      <nz-form-label for="idMunicipio" class="ant-form-item-required letter-label-style">Municipio</nz-form-label>
      <br>
      <nz-form-control>
        <nz-select class="example" style="width: 400px;" [(ngModel)]="staff.idMunicipio" class="formMuni"
          nzPlaceHolder="Seleccione Municipio" #idMunicipio name="idMunicipio" [nzSize]="size" required nzShowSearch>
          <nz-option *ngFor="let location of locations" [nzLabel]="location.municipio" [nzValue]="location.idMunicipio">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item fxLayout="column" fxLayoutAlign="start start" fxFlex="48%" fxFlex.lt-sm="45">
      <nz-form-label for="telefono">Teléfono</nz-form-label>
      <br>
      <nz-form-control>
        <nz-tooltip nzTrigger="focus" nzPlacement="topLeft" nzOverlayClassName="numeric-input" [nzTitle]="title">
          <input class="inputCelular" [(ngModel)]="staff.telefono" maxlength="7" pattern="^[0-9]*"
            (ngModelChange)="onChange($event)" (blur)="onBlur()" nz-tooltip #telefono name="telefono" nz-input
            placeholder="Ingrese su teléfono" style="width: 400px; border: 1px solid #d9d9d9 !important" />
        </nz-tooltip>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item fxLayout="column" fxLayoutAlign="start start" fxFlex="48%" fxFlex.lt-sm="45">
      <nz-form-label for="celular" class="ant-form-item-required letter-label-style">Celular</nz-form-label>
      <br>
      <nz-form-control>
        <nz-tooltip nzTrigger="focus" nzPlacement="topLeft" nzOverlayClassName="numeric-input" [nzTitle]="title">
          <input class="inputCelular" [(ngModel)]="staff.celular" pattern="^[0-9]*" maxlength="10"
            (ngModelChange)="onChangeCelular($event)" (blur)="onBlurCelular()" nz-tooltip #celular name="celular"
            nz-input required placeholder="Ingrese el número celular" required
            style="width: 400px; border: 1px solid #d9d9d9 !important" />
        </nz-tooltip>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item fxLayout="column" fxLayoutAlign="start start" fxFlex="48%" fxFlex.lt-sm="45">
      <nz-form-label for="idCargo" class="ant-form-item-required letter-label-style">Cargo</nz-form-label>
      <br>
      <nz-form-control>
        <nz-select [(ngModel)]="staff.idCargo" class="formCar" style="width: 400px;" nzPlaceHolder="Seleccion Cargo"
          #idCargo name="idCargo" [nzSize]="size" required>
          <nz-option *ngFor="let positions of position" [nzLabel]="positions.nombreCargo" [nzValue]="positions.idCargo">
          </nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item fxLayout="column" fxLayoutAlign="start start" fxFlex="48%" fxFlex.lt-sm="45">
      <nz-form-label for="correoElectronico" class="ant-form-item-required letter-label-style">Email</nz-form-label>
      <br>
      <nz-form-control>
        <input class="inputEmail" [(ngModel)]="staff.correoElectronico" #correoElectronico name="correoElectronico"
          nz-input placeholder="Ingrese su Email" required style="width: 400px; border: 1px solid #d9d9d9 !important" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item fxLayout="column" fxLayoutAlign="start start" fxFlex="48%" fxFlex.lt-sm="45">
      <nz-form-label for="direccion" class="ant-form-item-required letter-label-style">Dirección</nz-form-label>
      <br>
      <nz-form-control>
        <input class="inputDireccion" [(ngModel)]="staff.direccion" #direccion name="direccion" nz-input
          placeholder="Ingrese la dirección de residencia" required
          style="width: 400px; border: 1px solid #d9d9d9 !important" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item fxLayout="column" fxLayoutAlign="start start" fxFlex="48%" fxFlex.lt-sm="45">
      <nz-form-control [nzSpan]="5" [nzOffset]="5">
        <br>
        <button nz-button nzType="primary" [disabled]="!staffForm.valid">Guardar</button>
      </nz-form-control>
    </nz-form-item>
  </div>
</form>
<!-- <nz-alert nzType="success" *ngIf="isAlertVisible == true" nzMessage="Operación Exitosa!" nzShowIcon></nz-alert> -->