<form nz-form [nzLayout]="'inline'" #alimentForm="ngForm" (ngSubmit)="savealiment()">

  <div nz-row>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-control>
          <label for="nombre" class="ant-form-item-required letter-label-style">Tipo ave</label>
          <input [(ngModel)]="aliment.nombre" #nombre name="nombre" nz-input placeholder="Ingrese el tipo de ave" required style="border: 1px solid #d9d9d9 !important"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <label for="costoAlimento" class="ant-form-item-required letter-label-style">Descripción</label>
          
            <input [(ngModel)]="aliment.costoAlimento" nz-tooltip #costoAlimento name="costoAlimento" nz-input placeholder="Ingrese el costo del alimento"
              required (ngModelChange)="onChange($event)" (blur)="onBlur()" style="border: 1px solid #d9d9d9 !important" />
  
        </nz-form-control>
      </nz-form-item>
    </div>
  
    <nz-form-item>
      <nz-form-control>
        <br>
        <button class="login-form-button" nz-button nzType="primary" [disabled]="!alimentForm.valid">Guardar</button>
      </nz-form-control>
    </nz-form-item>
  </div>
</form>