.trigger {
    font-size: 18px;
    line-height: 64px;
    padding: 0 24px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .navbar {
    background-color: white;
  }

  .trigger:hover {
    color: #1890ff;
  }

  .logo {
    height: 40px;
    background: rgba(255, 255, 255, 0.2);
    margin: 20px;
  }

  .imgLogo {
      height: 40px;
  }

  .avatar{
    position: absolute;
    right: 2%;
  }

  ul li:visited {
    color: #fff;
  }

  ul li:hover {
    color: #fff;
    background: #87d068;
  }

  ul li:hover span i {
    color: #fff;
  }

  ul li:hover span {
    color: #fff;
  }

  .ant-menu-item-selected {
    color: #87d068 !important;
    background: #f1f8e9 !important;
  }

  .ant-menu-vertical .ant-menu-item::after, .ant-menu-vertical-left .ant-menu-item::after, .ant-menu-vertical-right .ant-menu-item::after, .ant-menu-inline .ant-menu-item::after {
    border-right: 3px solid #87d068;
  }

  ul li:visited {
    color: #87d068;
  }