<div align='center' style="margin-top: 178px;">
  <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzPrefix]="prefixUser">
          <input type="text" nz-input formControlName="userName" placeholder="Email" />
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('userName')?.dirty && validateForm.get('userName')?.errors">Por favor ingrese su email</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <nz-input-group [nzPrefix]="prefixLock">
          <input type="password" nz-input formControlName="password" placeholder="Contraseña" />
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('password')?.dirty && validateForm.get('password')?.errors">Por favor ingrese su contraseña</nz-form-explain>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <label nz-checkbox formControlName="remember">
          <span>Recordarme</span>
        </label>
        <a class="login-form-forgot" class="login-form-forgot">Olvidaste tu contraseña</a>
        <button nz-button class="login-form-button" [nzType]="'primary'">Iniciar sesión</button>
        O
        <a href="">Regístrarme</a>
      </nz-form-control>
    </nz-form-item>
  </form>
  <ng-template #prefixUser>
    <i nz-icon type="user"></i>
  </ng-template>
  <ng-template #prefixLock>
    <i nz-icon type="lock"></i>
  </ng-template>
</div>