<form nz-form [nzLayout]="'inline'" #salaryForm="ngForm" (ngSubmit)="saveSalary()">
    <!--(createStaff)="eventSaveForm(staffForm)"-->
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-control>
                    <label for="salaryBasic" class="ant-form-item-required letter-label-style">Salario básico</label>
                    <nz-tooltip nzTrigger="focus" nzPlacement="topLeft" nzOverlayClassName="numeric-input"
                        [nzTitle]="title">
                        <input [(ngModel)]="salary.salario" nz-tooltip #salaryBasic name="salaryBasic" nz-input
                            placeholder="Ingrese el salario basico" required (ngModelChange)="onChange($event,1)"
                            (blur)="onBlur()" />
                    </nz-tooltip>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <label for="auxilioTransporte" class="ant-form-item-required letter-label-style">Auxilio de
                        transporte</label>
                    <nz-tooltip nzTrigger="focus" nzPlacement="topLeft" nzOverlayClassName="numeric-input"
                        [nzTitle]="title">
                        <input [(ngModel)]="salary.auxilioTransporte" nz-tooltip #auxilioTransporte
                            name="auxilioTransporte" nz-input placeholder="Ingrese valor auxilio de transporte" required
                            (ngModelChange)="onChange($event,2)" (blur)="onBlur()" />
                    </nz-tooltip>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-control>
                    <label for="prestacionSocial" class="ant-form-item-required letter-label-style ">Prestación
                        social</label>
                    <nz-tooltip nzTrigger="focus" nzPlacement="topLeft" nzOverlayClassName="numeric-input"
                        [nzTitle]="title">
                        <input [(ngModel)]="salary.prestacionesSociales" nz-tooltip #prestacionSocial
                            name="prestacionSocial" nz-input placeholder="Ingrese valor social" required
                            (ngModelChange)="onChange($event,3)" (blur)="onBlur()" />
                    </nz-tooltip>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-control>
                    <label for="year" class="ant-form-item-required letter-label-style">Año</label><br>
                    <nz-year-picker [nzPlaceHolder]="2019" [nzFormat]="yyyy" [(ngModel)]="salary.periodo" #periodo
                        name="periodo"></nz-year-picker>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="6">
            <nz-form-item>
                <nz-form-control [nzSpan]="5" [nzOffset]="5">
                    <br>
                    <button nz-button nzType="primary" [disabled]="!salaryForm.valid">Guardar</button>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
</form>
<br>
<!-- <nz-alert nzType="success" *ngIf="isAlertVisible == true" nzMessage="Operación Exitosa!" nzShowIcon></nz-alert> -->