<form nz-form [nzLayout]="'inline'" #staffForm="ngForm" (ngSubmit)="saveStaff()" > <!--(createStaff)="eventSaveForm(staffForm)"-->  
    <div nz-row>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-control>
              <label for="idTipoDocumento" class="ant-form-item-required letter-label-style">Tipo Documento</label><br>
              <nz-select [(ngModel)]="staff.idTipoDocumento" #idTipoDocumento name="idTipoDocumento" style="width: 200px;" [nzSize]="size" required>
                <nz-option *ngFor="let document of resDocumentType" [nzLabel]="document.nombreTipoDocumento"
                  [nzValue]="document.idTipoDocumento"></nz-option>
              </nz-select>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
              <label for="idCargo">Cargo</label><br>
              <nz-select [(ngModel)]="staff.idCargo" #idCargo name="idCargo" style="width: 200px;" [nzSize]="size" required>
                <nz-option *ngFor="let positions of position" [nzLabel]="positions.nombreCargo"
                  [nzValue]="positions.idCargo"></nz-option>
              </nz-select>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <label for="primerNombre" class="ant-form-item-required letter-label-style">Primer nombre</label>
            <input [(ngModel)]="staff.primerNombre" #primerNombre name="primerNombre" nz-input placeholder="Ingrese el primer nombre" required/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <label for="primerApellido" class="ant-form-item-required letter-label-style">Primer apellido</label>
            <input [(ngModel)]="staff.primerApellido" #primerApellido name="primerApellido" nz-input placeholder="Ingrese el primer apellido" required/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <label for="correoElectronico">Email</label>
            <input [(ngModel)]="staff.correoElectronico" #correoElectronico name="correoElectronico" nz-input placeholder="Ingrese su Email" required/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <label for="idMunicipio" class="ant-form-item-required letter-label-style">Municipio</label><br>
            <nz-select (ngModelChange)="locationChange($event)" [(ngModel)]="staff.idDepartamento" #idMunicipio name="idMunicipio" style="width: 200px;" [nzSize]="size" required>
              <nz-option *ngFor="let municipy of resDepartament" [nzLabel]="municipy.departamento"
                [nzValue]="municipy.idDepartamento"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-control>
            <label for="documento" class="ant-form-item-required letter-label-style">Documento</label>
            <input pattern="[0-9]*" [(ngModel)]="staff.documento" #documento name="documento" nz-input placeholder="Ingrese número documento" digitOnly required/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <label for="segundoNombre">Segundo nombre</label>
            <input [(ngModel)]="staff.segundoNombre" #segundoNombre name="segundoNombre" nz-input  placeholder="Ingrese segundo nombre" required/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <label for="segundoApellido">Segundo apellido</label>
            <input [(ngModel)]="staff.segundoApellido" #segundoApellido name="segundoApellido" nz-input placeholder="Ingrese segundo apellido" required/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <label for="celular" class="ant-form-item-required letter-label-style">Celular</label>
            <input [(ngModel)]="staff.celular" #celular name="celular" nz-input  required placeholder="Ingrese el número celular" required/>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control>
            <label for="ciudad" class="ant-form-item-required letter-label-style">Ciudad</label>
            <nz-select [(ngModel)]="staff.idMunicipio" #ciudad name="ciudad" style="width: 200px;" [nzSize]="size" required nzShowSearch>
                <nz-option *ngFor="let location of locations" [nzLabel]="location.municipio"
                  [nzValue]="location.idMunicipio"></nz-option>
              </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-control>
            <label for="direccion" class="ant-form-item-required letter-label-style">Dirección</label>
            <input [(ngModel)]="staff.direccion" #direccion name="direccion" nz-input placeholder="Ingrese la dirección de residencia" required/>
          </nz-form-control>
        </nz-form-item>
      </div>  
      <div nz-col nzSpan="6">
        <nz-form-item>
          <nz-form-control [nzSpan]="5" [nzOffset]="5">
            <br>                        
            <button nz-button nzType="primary" [disabled]="!staffForm.valid" >Guardar</button>            
          </nz-form-control>
        </nz-form-item>
      </div>            
    </div>  
</form>
<nz-alert nzType="success" *ngIf="isAlertVisible == true" nzMessage="Operación Exitosa!" nzShowIcon></nz-alert>