<form class="formstaff" nz-form [nzLayout]="'inline'" #staffForm="ngForm" (ngSubmit)="saveStaff()">
    <!--(createStaff)="eventSaveForm(staffForm)"-->
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-control>
                    <label for="idTipoDocumento" class="ant-form-item-required letter-label-style">Tipo
                        Documento</label><br>
                    <nz-select [(ngModel)]="staff.idTipoDocumento" class="formDrop"
                        nzPlaceHolder="Seleccion tipo documento" #idTipoDocumento name="idTipoDocumento"
                        [nzSize]="size">
                        <nz-option *ngFor="let document of resDocumentType" [nzLabel]="document.nombreTipoDocumento"
                            [nzValue]="document.idTipoDocumento"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-control>
                    <label for="documento" class="ant-form-item-required letter-label-style">Documento</label>
                    <nz-tooltip nzTrigger="focus" nzPlacement="topLeft" nzOverlayClassName="numeric-input"
                        [nzTitle]="title">
                        <input class="inputDocument" pattern="[0-9]*" [(ngModel)]="staff.documento"
                            (ngModelChange)="onChangeDocumento($event)" (blur)="onBlurDocumento()" nz-tooltip #documento
                            name="documento" nz-input placeholder="Ingrese número documento" digitOnly required
                            style="border: 1px solid #d9d9d9 !important;" />
                    </nz-tooltip>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-control>
                    <label for="primerNombre" class="ant-form-item-required letter-label-style">Primer nombre</label>
                    <input class="inputForm" [(ngModel)]="staff.primerNombre" #primerNombre name="primerNombre" nz-input
                        placeholder="Ingrese el primer nombre" required style="border: 1px solid #d9d9d9 !important" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-control>
                    <label for="segundoNombre">Segundo nombre</label>
                    <input class="inputForm" [(ngModel)]="staff.segundoNombre" #segundoNombre name="segundoNombre"
                        nz-input placeholder="Ingrese segundo nombre" style="border: 1px solid #d9d9d9 !important" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-control>
                    <label for="primerApellido" class="ant-form-item-required letter-label-style">Primer
                        apellido</label>
                    <input class="inputForm" [(ngModel)]="staff.primerApellido" #primerApellido name="primerApellido"
                        nz-input placeholder="Ingrese el primer apellido" required
                        style="border: 1px solid #d9d9d9 !important" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-control>
                    <label for="segundoApellido">Segundo apellido</label>
                    <input class="inputForm" [(ngModel)]="staff.segundoApellido" #segundoApellido name="segundoApellido"
                        nz-input placeholder="Ingrese segundo apellido" style="border: 1px solid #d9d9d9 !important" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-control>
                    <label for="idMDepartamento"
                        class="ant-form-item-required letter-label-style">Departamento</label><br>
                    <nz-select (ngModelChange)="locationChange($event)" nzPlaceHolder="Seleccione Departamento"
                        [(ngModel)]="staff.idDepartamento" class="formDepar" #idMDepartamento name="idMDepartamento"
                        [nzSize]="size">
                        <nz-option *ngFor="let municipy of resDepartament" [nzLabel]="municipy.departamento"
                            [nzValue]="municipy.idDepartamento"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-control>
                    <label for="idMunicipio" class="ant-form-item-required letter-label-style">Municipio</label><br>
                    <nz-select class="example" [(ngModel)]="staff.idMunicipio" class="formMuni"
                        nzPlaceHolder="Seleccione Municipio" #idMunicipio name="idMunicipio" [nzSize]="size" required
                        nzShowSearch>
                        <nz-option *ngFor="let location of locations" [nzLabel]="location.municipio"
                            [nzValue]="location.idMunicipio"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-control>
                    <label for="telefono">Teléfono</label>
                    <nz-tooltip nzTrigger="focus" nzPlacement="topLeft" nzOverlayClassName="numeric-input"
                        [nzTitle]="title">
                        <input class="inputCelular" [(ngModel)]="staff.telefono" maxlength="7"
                            (ngModelChange)="onChange($event)" (blur)="onBlur()" nz-tooltip #telefono name="telefono"
                            nz-input placeholder="Ingrese su teléfono" style="border: 1px solid #d9d9d9 !important" />
                    </nz-tooltip>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-control>
                    <label for="celular" class="ant-form-item-required letter-label-style">Celular</label>
                    <nz-tooltip nzTrigger="focus" nzPlacement="topLeft" nzOverlayClassName="numeric-input"
                        [nzTitle]="title">
                        <input class="inputCelular" [(ngModel)]="staff.celular" maxlength="10"
                            (ngModelChange)="onChangeCelular($event)" (blur)="onBlurCelular()" nz-tooltip #celular
                            name="celular" nz-input required placeholder="Ingrese el número celular" required
                            style="border: 1px solid #d9d9d9 !important" />
                    </nz-tooltip>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-control>
                    <label for="idCargo" class="ant-form-item-required letter-label-style">Cargo</label><br>
                    <nz-select [(ngModel)]="staff.idCargo" class="formCar" nzPlaceHolder="Seleccion Cargo" #idCargo
                        name="idCargo" [nzSize]="size" required>
                        <nz-option *ngFor="let positions of position" [nzLabel]="positions.nombreCargo"
                            [nzValue]="positions.idCargo"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-control>
                    <label for="correoElectronico" class="ant-form-item-required letter-label-style">Email</label>
                    <input class="inputEmail" [(ngModel)]="staff.correoElectronico" #correoElectronico
                        name="correoElectronico" nz-input placeholder="Ingrese su Email" required
                        style="border: 1px solid #d9d9d9 !important" />
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div nz-row>
        <div nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-control>
                    <label for="direccion" class="ant-form-item-required letter-label-style">Dirección</label>
                    <input class="inputDireccion" [(ngModel)]="staff.direccion" #direccion name="direccion" nz-input
                        placeholder="Ingrese la dirección de residencia" required
                        style="border: 1px solid #d9d9d9 !important" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div nz-col nzSpan="6">
            <nz-form-item>
                <nz-form-control [nzSpan]="5" [nzOffset]="5">
                    <br>
                    <button nz-button nzType="primary" [disabled]="!staffForm.valid">Guardar</button>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
</form>
<!-- <nz-alert nzType="success" *ngIf="isAlertVisible == true" nzMessage="Operación Exitosa!" nzShowIcon></nz-alert> -->