<h1>Crear Vacuna</h1>
<form class="formvacuna" nz-form [nzLayout]="inline" #vacunaForm="ngForm" (ngSubmit)="cresteVacuna()">
    <div class="form-fields" fxLayout="row wrap" fxLayoutGap="40%" fxLayoutAlign="start center">
        <nz-form-item fxLayout="column" fxLayoutAlign="start start" fxFlex="48%" fxFlex.lt-sm="45">
            <nz-form-label for="codProducto">Código Producto</nz-form-label>
            <nz-form-control>
                <input [(ngModel)]="vacuna.codProducto" #codProducto name="codProducto" nz-input placeholder="Ingresé código del producto" 
                    required style="width: 400px; border: 1px solid #d9d9d9 !important" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item fxLayout="column" fxLayoutAlign="start start" fxFlex="48%" fxFlex.lt-sm="45">
            <nz-form-label for="nombreProducto">Nombre Producto</nz-form-label>
            <nz-form-control>
                <input [(ngModel)]="vacuna.nombreProducto" #nombreProducto name="nombreProducto" nz-input placeholder="Ingresé el nombre del producto" 
                    required style="width: 400px; border: 1px solid #d9d9d9 !important" />
            </nz-form-control>
        </nz-form-item>
        <nz-form-item fxLayout="column" fxLayoutAlign="start start" fxFlex="48%" fxFlex.lt-sm="45">
            <nz-form-label for="marca">Marca Producto</nz-form-label>
            <nz-form-control>
                <input [(ngModel)]="vacuna.marca" #marca name="marca" nz-input placeholder="Ingresé la marca" 
                    required style="width: 400px; border: 1px solid #d9d9d9 !important" />
            </nz-form-control>
        </nz-form-item>
    </div>
</form>